<html>

<head>
    <title>After school classes</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="Subjects.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="Style.css">
</head>

<body>
    <div id="app">
        <header>
            <h1 v-text="sitename"></h1>
        </header>

 
       
            <div v-if='showProduct'>
                <div class="cart-button">
                <button v-on:click='showCheckout' v-if="cartItemCount > 0">
                    {{cartItemCount}}
                    <span class="fas fa-cart-plus"></span> Cart
                </button>
            </div>
                <div class="Sort">
            
                    <h4>Sort by:</h4>
              
                        <label>
                            <input v-model="sort" type="radio" name="Sort" value="price" v-on:click="sortedProducts('price', ord)"> Price
                        </label><br>
                        <label>
                            <input v-model="sort" type="radio" name="Sort" value="subj"> Subject
                        </label><br>
                        <label>
                            <input v-model="sort" type="radio" name="Sort" value="loc"> Location
                        </label><br>
                        <label>
                            <input v-model="sort" type="radio" name="Sort" value="avail"> Availability
                        </label><br>
                 
    
                    <h4>Order</h4>
                   
                        <label>
                            <input v-model="ord" type="radio" name="Order" value="asc"> Ascending
                        </label><br>
                        <label>
                            <input type="radio" name="Order" value="des" v-model="ord"> Descending
                        </label><br>
                
                    
                </div>
                <section class="Suject-lessons"  >
                    <div class="product-container" id="Shop-product">
                <div v-for="product in sortedProducts(sort, ord)">
                    <div class="product-box">
                    <h2 v-text="product.title"></h2>
                    <div class="product-img">
                    <figure>
                        <img v-bind:src="product.image">
                    </figure>
                </div>
                <div class="product-details">
                    <p v-html="product.Location"></p>
                    <p>Price: {{product.price}}</p>
                    <p>Available stock: {{product.availableInventory -cartCount(product) }}</p>

                   
                    <div class="add-cart">
                    <button v-on:click='addToCart(product)' v-if='canAddToCart(product)'>Add to cart</button>

                    <button disabled="disabled" v-else>Add to cart</button>
                    </div>
                    <span v-if='product.availableInventory === cartCount(product)'>All out!</span>
                    <span v-else-if='product.availableInventory - cartCount(product) < 5'>
                        Only {{product.availableInventory - cartCount(product)}} left!
                    </span>
                    <span v-else>Buy now!</span>

                    <div>
                        <span v-for='n in product.rating'>★ </span>
                        
                        <span v-for='n in 5-product.rating'>☆</span>
                    </div>
                </div>
                    </div>
                </div>
                    </div>
                
                </section>
            </div>

            <div v-else>
                <div class="cart-head">
                <h2>Cart</h2>
                </div>
                <div class="classes-back">
                <button v-on:click='showCheckout'>
                    <span></span>Classes Available
                </button>
            </div>
                <div class="product-container" id="Shop-product">
                    <div v-for="product in cart">
                        <div class="product-box">
                        <h2 v-text="product.Subject"></h2>
                        <div class="product-img">
                        <figure>
                            <img v-bind:src="product.image">
                        </figure>
                    </div>
                    <div class="product-details">
                        <p v-html="product.description"></p>
                        <p>Price: {{product.price}}</p>
                        <div class="add-cart">
                            <button v-on:click='RemoveItem(product)'>Remove Item</button>
        
                           
                            </div>
                    </div>
                        </div>
                    </div>
                    </div>
                    <div class="CheckOut-form">
        
                                <input v-model="order.Name" placeholder=" Name">
                                
                                <input v-model.number="order.phoneNum" placeholder="Phone">
                                <button v-if="checkoutBtn" v-on:click="submitForm">Checkout</button>
    
                                <button disabled v-else>Checkout</button>
                  
                        </div>
            </div>
            </div>
    
    <script type="text/javascript">
        var webstore = new Vue({
            el: '#app',
            data: {
                sitename: 'After School Classes',
                products:[],
                cart: [],
                showProduct: true,
                order: {
                    Name: '',
                    PhoneNum: '',
                
                },
                sort: "subj",
                 ord: "asc"

            },
            created: function () {
                console.log('requesting data from server ...')

                fetch('https://coursework2-3145.herokuapp.com/collection/Product', {
                    method: "GET",
                    headers: {
                        "Content-Type": "text/plain"
                    }
                }).then(
                    function (response) {
                        response.json().then(
                            function (json) {
                                webstore.products = json;
                                console.log(json);
                            });
                    }
                )
            },
            methods: {
                addToCart(product) {
                    this.cart.push(product);
                    
                    // console.log('adding to cart', product.id)
                },
                RemoveItem: function (product){
                            this.cart.splice(this.cart.indexOf(product))
                        },
                showCheckout() {
                    // console.log(this.showProduct);
                    this.showProduct = this.showProduct ? false : true;
                },
                sortedProducts(sort, order) {
                            let SubjectsArray = this.products.slice(0);
                            switch (sort) {
                                
                                case "price":
                                    if (order == "asc") {
                                        function comparePrice(a, b) {
                                            if (a.price > b.price)
                                                return 1
                                            if (a.price < b.price)
                                                return -1
                                            return 0
                                        }
                                        return SubjectsArray.sort(comparePrice)
                                    } else {
                                        function comparePrice(a, b) {
                                            if (a.price > b.price)
                                                return -1
                                            if (a.price < b.price)
                                                return 1
                                            return 0
                                        }
                                        return SubjectsArray.sort(comparePrice)
                                    }
                                    break;
                                
                                
                                case "loc":
                                    if (order == "asc") {
                                        function compareLocation(a, b) {
                                            if (a.Location > b.Location)
                                                return 1
                                            if (a.Location < b.Location)
                                                return -1
                                            return 0
                                        }
                                        return SubjectsArray.sort(compareLocation)
                                    } else {
                                        function compareLocation(a, b) {
                                            if (a.Location > b.Location)
                                                return -1
                                            if (a.Location < b.Location)
                                                return 1
                                            return 0
                                        }
                                        return SubjectsArray.sort(compareLocation)
                                    }
                                    break;
                                
                                
                                case "avail":
                                    if (order == "asc") {
                                        function compareAvailability(a, b) {
                                            if (a.availableInventory > b.availableInventory)
                                                return 1
                                            if (a.availableInventory < b.availableInventory)
                                                return -1
                                            return 0
                                        }
                                        return SubjectsArray.sort(compareAvailability)
                                    } else {
                                        function compareAvailability(a, b) {
                                            if (a.availableInventory > b.availableInventory)
                                                return -1
                                            if (a.availableInventory < b.availableInventory)
                                                return 1
                                            return 0
                                        }
                                        return SubjectsArray.sort(compareAvailability)
                                    }
                                    break;

                                // by default, compare subject
                                default:
                                    if (order == "asc") {
                                        function compareSubject(a, b) {
                                            if (a.Subject > b.Subject)
                                                return 1
                                            if (a.Subject < b.Subject)
                                                return -1
                                            return 0
                                        }
                                        return SubjectsArray.sort(compareSubject)
                                    } else {
                                        function compareSubject(a, b) {
                                            if (a.Subject > b.Subject)
                                                return -1
                                            if (a.Subject < b.Subject)
                                                return 1
                                            return 0
                                        }
                                        return SubjectsArray.sort(compareSubject)
                                    }
                                    break;
                            }
                        },
                submitForm() {
                   var orderArray = [];
                       orderArray.push({
                           'Product':this.cart,
                           'numberOfspaces':1,
                       });
                
                   const newOrder = {'name':this.order.Name,'phone':this.order.phoneNum,'Order':orderArray}
                   fetch('https://coursework2-3145.herokuapp.com/collection/Order',{
                       method: 'POST',
                       headers:{
                           'Content-Type': 'application/json'
                       },
                       body: JSON.stringify(newOrder),


                   })
                   .then(response => response.json())
                   .then(responseJSON =>{
                       console.log('Success:', responseJSON);
                    
                   });
                   
                   alert("Order added");
                  
                
                },

               

                canAddToCart(product) {
                    return product.availableInventory > this.cartCount(product);
                },
                cartCount(id) {
                    let count = 0;
                    for (let i = 0; i < this.cart.length; i++) {
                        if (this.cart[i] === id) {
                            count++;
                        }
                    }
                    return count;
                }
            } ,
            computed: {
                cartItemCount() {
                    return this.cart.length;
                },
                checkoutBtn() {
                            if (this.order.Name && this.order.phoneNum) {
                                return true
                            }
                            else {
                                return false
                            }
                        }
               
              
            },
        });
    </script>
</body>

</html>